<div id="cloud-content" class="section_content"><div class="wrapper">

  <br>
  <br>

  <h1 id="head"><span>Soluciones Cloud</span></h1>

  <div class="sectionbox">
    <div class="textwrapper">
      <h2 id="vps" class="withLEDs">Servidores Privados Virtuales (VPS)</h2>
    </div>
  </div>

  <div class="sectionbox">
    <div class="textwrapper">
      <h2 id="cloud-hosting" class="withLEDs">Hosting en VPS (Cloud Hosting)</h2>
    </div>
  </div>

  <div class="sectionbox">
    <div class="textwrapper">
      <h2 id="gaming-servers" class="withLEDs">Gaming Servers</h2>
    </div>
  </div>

  <div class="sectionbox">
    <div class="textwrapper">
      <h2 id="telefonia-ip-nube" class="withLEDs">Telefonía IP en la Nube</h2>
    </div>
  </div>

  <div class="sectionbox">
    <div class="textwrapper">
      <h2 id="contabilidad-nube" class="withLEDs">Contabilidad en la Nube</h2>
    </div>
  </div>

</div></div>
