<div id="contacto_content" class="section_content"><div class="wrapper">

  <br>
  <br>

  <h1 id="head">Contacto</h1>

  <div class="sectionbox contacto">
    <br>
    <br>
    <div class="submitwrapper" style="text-align:center;"><%= link_to "TU MENSAJE HA SIDO ENVIADO &nbsp;:)".html_safe, "#", :id=>"contactosubmit", :onclick=>"window.location.replace('/contacto');" %></div>
  </div>

</div></div>
