<div id="contacto-content" class="section_content"><div class="bg" data-0="background-position: 100% 0px;" data-end="background-position: 100% -<%= parallax_offset %>px;" data-anchor-target=".section_content .bg"><div class="wrapper">

  <br>
  <br>

  <h1 id="head">Contacto</h1>

  <div class="sectionbox contacto">
    <br>
    <br>
    <div class="submitwrapper" style="text-align:center;"><%= link_to "TU MENSAJE HA SIDO ENVIADO &nbsp;:)".html_safe, "#", :id=>"contactosubmit", :onclick=>"window.location.replace('/contacto');" %></div>
  </div>

</div></div></div>
