<div id="tic-content" class="section_content"><div class="wrapper">

  <br>
  <br>

  <h1 id="head"><span>Tecnología de la Información y las Comunicaciones (TIC)</span></h1>

  <div class="sectionbox">
    <div class="textwrapper">
      <h2 id="asesoria" class="withLEDs">Asesoría</h2>
    </div>
  </div>

  <div class="sectionbox">
    <div class="textwrapper">
      <h2 id="consultoria" class="withLEDs">Consultoría</h2>
    </div>
  </div>

  <div class="sectionbox">
    <div class="textwrapper">
      <h2 id="tercerizacion" class="withLEDs">Tercerización</h2>
    </div>
  </div>

  <div class="sectionbox">
    <div class="textwrapper">
      <h2 id="servidores-linux" class="withLEDs">Servidores Linux</h2>
    </div>
  </div>

  <div class="sectionbox">
    <div class="textwrapper">
      <h2 id="redes" class="withLEDs">Redes</h2>
    </div>
  </div>

  <div class="sectionbox">
    <div class="textwrapper">
      <h2 id="telefonia-ip" class="withLEDs">Telefonía IP</h2>
    </div>
  </div>

  <br>
  <br>
  <br>

</div></div>
