<h2 id="certificaciones" class="withLEDs">Nuestras Certificaciones</h2>

<h3>Certified Ethical Hacker (CEH)</h3>
<p><strong>CEH</strong> es una certificación profesional promovida por el <strong>Consorcio Internacional de Consultas de Comercio Electrónico</strong> (<strong>EC-Council</strong>).</p>

<p>Un <strong>hacker ético</strong> es el nombre adoptado para la realización de pruebas de penetración o intrusión a redes informáticas; usualmente es una persona perteneciente a una organización que intenta introducirse a una red informática o un sistema informático, utilizando métodos y técnicas conocidas como "<strong>hacks</strong>", pero su propósito principal es la búsqueda y resolución de vulnerabilidades de seguridad que permitieron la intrusión.</p>

<p>Un <strong>Ethical Hacker</strong> certificado por el <strong>EC-Council</strong> es un profesional dotado de habilidades para encontrar las debilidades o vulnerabilidades en los sistemas utilizando el mismo conocimiento y herramientas que un hacker malicioso.</p>

<br>

<h3>MikroTik</h3>
<p>Conocida internacionalmente como <strong>MikroTik</strong>, es una compañía letona proveedora de tecnología de hardware y software para la creación de redes. MikroTik se dedica principalmente a la venta de productos de hardware de red como routers denominados routerboards y switches también conocidos por el software que lo integra, denominado <strong>RouterOS</strong> y <strong>SwOS</strong>.</p>
<ul class="customstyle">
  <li><span><strong>MTCNA - MikroTik Certified Network Associate</strong></span></li>
  <li><span><strong>MTCRE - MikroTik Certified Routing Engineer</strong></span></li>
  <li><span><strong>MTCWE - MikroTik Certified Wireless Engineer</strong></span></li>
  <li><span><strong>MTCTCE - MikroTik Certified Traffic Control Engineer</strong></span></li>
  <li><span><strong>MTCINE - MikroTik Certified Inter-networking Engineer</strong></span></li>
</ul>
<br>
<%= image_tag "inline_certificados_mikrotik.png" %>
