<h2 id="sobre_nosotros" class="withLEDs">Sobre Nosotros</h2>

<p>Somos una empresa joven apostando por implementaciones <strong>Open Source</strong> en el campo de las redes, la seguridad informática y las telecomunicaciones.</p>

<%= image_tag "inline_open_source.png", :class=>"inline" %>

<p>Entre nuestro equipo contamos con <strong>Ingenieros de Sistemas</strong>, <strong>Electrónicos</strong> y de <strong>Telecomunicaciones</strong> especializados y certificados en:</p>
<ul class="customstyle">
  <li><span><strong>Cisco</strong> (Enrutamiento, Redes, Wireless, Telefonía IP)</span></li>
  <li><span><strong>Mikrotik</strong> (Enrutamiento, Redes y Wireless)</span></li>
  <li><span><strong>Ubiquity</strong> (Wireless)</span></li>
  <li><span><strong>Digium Asterisk</strong> (Telefonía IP)</span></li>
  <li><span><strong>EC-Council</strong> (Seguridad informática)</span></li>
</ul>
<br>

<h3>¿Qué Hacemos?</h3>
<p><span class="dataflux">Data<span>Flux</span></span> en su portafolio de servicios ofrece servicios de asesoría, consultoría y tercerización de <strong>TIC</strong> (<strong>Tecnologías de la Información y las Comunicaciones</strong>) que va desde el diseño hasta la puesta en marcha de proyectos.</p>
