<div id="socialwidgets"><div class="wrapper">

  <div class="facebookframe">
    <div class="fb-like-box" data-href="http://www.facebook.com/DataFlux" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true" data-width="460" data-height="525" data-lang="es_LA"></div>
  </div>

  <div class="twitterframe">
    <a class="twitter-timeline" width="460" height="525" href="https://twitter.com/DataFlux" data-widget-id="408726348610285568" data-chrome="nofooter" lang="es">Tweets de @DataFlux</a>
  </div>

  <!-- <div id="subscribe">
    <p><em>Obtén Noticias Recientes:</em></p>
    <%= form_tag "#", :method=>"get", :id=>"subscribeform" do %>
      <%= text_field_tag "subscribe_email", nil, :placeholder=>"Tu email" %>
      <%= submit_tag " ", :id=>"subscribe_submit" %>
    <% end %>
  </div> -->

</div></div>
