<div id="maincontainer">

  <h1>Data<span class="flux">Flux</span> lorem ipsum dolor sit amet</h1>
  
  <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</h2>
  
  <span id="spanbutton">Empezar ahora!</span>
  
</div>
<div id="extracontainer">

  <div id="extra_left">
    <%= link_to image_tag("extra_th.png"), :id=>"extra_th" %>
    <h3>Lorem ipsum dolor sit amet</h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    <span id="extra_spantab">NOTICIAS/NOVEDADES</span>
  </div>
  
  <div id="extra_right">
    <span class="extra_right_row"> <%= image_tag "extra1.png" %> Servicios DATA<span class="flux">FLUX</span> </span>
    <span class="extra_right_row"> <%= image_tag "extra2.png" %> Certificaciones </span>
    <span class="extra_right_row"> <%= image_tag "extra3.png" %> Escríbenos para cualquier inquietud </span>
  </div>
  
</div>
