<%= link_to "", "#aviso", :id=>"aviso_modal_trigger", :class=>"colorbox" %>
<div style="display:none;">
  <div id="aviso" class="modal_aviso">
    <p>Estamos en remodelación, pronto volveremos con una nueva imagen para <strong>dataflux.com.co</strong></p>
  </div>
</div>

<%=link_to image_tag("icon_facebook.png"),"http://facebook.com/dataflux/",:class=>"linker facebook",:target=>"_blank"%>
<%=link_to image_tag("icon_twitter.png"),"http://twitter.com/dataflux/",:class=>"linker twitter",:target=>"_blank"%>
