<div id="maincontainer">
  
  <div class="maincontainer_content home">
    <h1>Data<span class="flux">Flux</span> lorem ipsum dolor sit amet</h1>
    <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</h2>
  </div>
  
</div>
<div id="subcontainer">

  <div id="extra_left">
    <%= link_to image_tag("extra_th.png"), "javascript:void(0)", :id=>"extra_th" %>
    <h3>Lorem ipsum dolor sit amet</h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    <span id="extra_spantab"><%= link_to "NOTICIAS/NOVEDADES", "javascript:void(0)" %></span>
  </div>
  
  <div id="extra_right">
    <span class="extra_right_row"> <%#= image_tag "extra1.png" %> Extra sub 1 </span>
    <span class="extra_right_row"> <%#= image_tag "extra2.png" %> Extra sub 2 </span>
    <span class="extra_right_row"> <%#= image_tag "extra3.png" %> Extra sub 3 </span>
  </div>
  
</div>
