<h2 id="correos_transfer" class="withLEDs">TRANSFERENCIA DE CORREOS</h2>

<h3>¿Qué es la Transferencia de Correos?</h3>
<p>Consiste en mover o copiar parcialmente o todo el contenido de una, varias o todas tus cuentas de correo electrónico de un servidor a otro.</p>

<h3>¿Por qué requiero usar la Transferencia de Correos?</h3>
<p>Puede ser por muchos factores, pero principalmente se deben a dos.</p>

<ul class="extraspace compact">
  <li><span><strong>Backup de tus correos:</strong> puede que tu operador actual de hosting te ofrezca muy poco espacio de almacenamiento para tus correos y no quieres perder esos correos viejos, por lo que transferirlos a otro servidor en la nube para así poder conservarlos en vez de eliminarlos puede ser una buena idea.</span></li>
  <li><span><strong>Mudarse de un proveedor a otro:</strong> si decidiste cambiarte de proveedor de hosting, quizá no quieras perder todo el correo que tu proveedor anterior te estaba alojando mientras estuviste con él, por lo que requerirás transferirlo del antiguo servidor al nuevo que haz decidido tomar.</span></li>
</ul>

<p>Precios acorde al peso de tus correos:</p>
<div class="planswrapper dominios correostransfer">
  <table class="plans correostransfer">
    <thead>
      <tr>
        <th style="background:transparent;border:none;"></th>
        <th class="blue3Dbg">0—1GB</th>
        <th class="blue3Dbg">1—2GB</th>
        <th class="blue3Dbg">2—5GB</th>
        <th class="blue3Dbg">5—10GB</th>
        <th class="blue3Dbg">10—20GB</th>
        <th class="blue3Dbg">20—50GB</th>
        <th class="blue3Dbg">>50GB</th>
      </tr>
    </thead>
    <tbody>
      <tr class="price alt">
        <td>Precios*</td>
        <td><small>$40.000</small></td>
        <td><small>$70.000</small></td>
        <td><small>$120.000</small></td>
        <td><small>$200.000</small></td>
        <td><small>$350.000</small></td>
        <td><small>$600.000</small></td>
        <td><em style="font-size:16px;">Contáctenos</em></td>
      </tr>
    </tbody>
  </table>
</div>
<h4 style="margin:5px 0 0 0;">*No incluyen IVA.</h4>
