<ul class="plans headers webdev">
  <h4>&nbsp;</h4>
  <li class="separator" style="border-top:1px solid transparent;"><h4><small>&nbsp;</small></h4></li>
</ul>
<ul class="plans webdev">
  <h4 class="starter"><span class="blue3Dbg">STARTER</span></h4>
</ul>
<ul class="plans webdev">
  <h4 class="basic"><span class="blue3Dbg">BASIC</span></h4>
</ul>
<ul class="plans webdev">
  <h4 class="plus"><span class="blue3Dbg">PLUS</span></h4>
</ul>
<ul class="plans webdev last">
  <h4 class="pro"><span class="blue3Dbg">PRO</span></h4>
</ul>
<div style="clear:both;"></div>

<table class="plans hosting webdev"><tbody>
  <tr>
    <td class="first">Tipo de Página Web</td>
    <td colspan="1">Estática</td>
    <td colspan="3">Dinámica</td>
  </tr>
  <tr>
    <td class="first">Base de Datos</td>
    <td colspan="2">Sencilla</td>
    <td colspan="2">Completa</td>
  </tr>
  <tr>
    <td class="first">Idiomas</td>
    <td colspan="1">Español</td>
    <td colspan="3">Español, Inglés</td>
  </tr>
  <tr>
    <td class="first">Integración con Redes Sociales</td>
    <td colspan="4"><span class="yes">✔</span></td>
  </tr>
  <tr>
    <td class="first">Multimedia</td>
    <td colspan="1"><span class="no">✗</span></td>
    <td colspan="1">Animación, slideshow <strong>o</strong> galería en una sección</td>
    <td colspan="2">Animaciones, slideshows <strong>y</strong> galerías en toda la página</td>
  </tr>
  <tr>
    <td class="first">Panel Administrativo</td>
    <td colspan="1">Solo Productos</td>
    <td colspan="3"><span class="yes">✔</span></td>
  </tr>
  <tr>
    <td class="first">Secciones Básicas</td>
    <td colspan="4">Principal, Acerca de, Productos <%= link_to content_tag(:sup, "[1]"), "#foot1a", :class=>"footnote", :id=>"footnote1a" %>, Contacto</td>
  </tr>
  <tr>
    <td class="first">Secciones Adicionales</td>
    <td colspan="2"><span class="no">✗</span></td>
    <td colspan="2"><span class="yes">✔</span></td>
  </tr>
  <tr>
    <td class="first">Versión Móvil</td>
    <td colspan="2"><span class="no">✗</span></td>
    <td colspan="2"><span class="yes">✔</span></td>
  </tr>
  <tr>
    <td class="first">Integración de Apps/APIs</td>
    <td colspan="1">Google Maps</td>
    <td colspan="3">Google Maps, RSS, Facebook, Twitter, muchos más...</td>
  </tr>
  <tr>
    <td class="first">Integración de Apss a Medida</td>
    <td colspan="3"><span class="no">✗</span></td>
    <td colspan="1"><span class="yes">✔</span></td>
  </tr>
  <tr>
    <td class="first">Motor de Búsqueda Interno</td>
    <td colspan="3"><span class="no">✗</span></td>
    <td colspan="1"><span class="yes">✔</span></td>
  </tr>
  <tr>
    <td class="first">Manejo de Usuarios</td>
    <td colspan="3"><span class="no">✗</span></td>
    <td colspan="1"><span class="yes">✔</span></td>
  </tr>
  <tr>
    <td class="first">Carrito de Compras <%= link_to content_tag(:sup, "[2]"), "#foot2a", :class=>"footnote", :id=>"footnote2a" %></td>
    <td colspan="3"><span class="no">✗</span></td>
    <td colspan="1"><span class="yes">✔</span></td>
  </tr>

  <tr style="display:block;padding:6px;"></tr>
  <tr style="display:none;"></tr>

  <tr class="price">
    <td class="first">Diseño personalizado <br><small>(completamente hecho a medida)</small></td>
    <td><span>$650.000</span> + IVA x AÑO</td>
    <td><span>$950.000</span> + IVA x AÑO</td>
    <td><span>$1.450.000</span> + IVA x AÑO</td>
    <td><span>$1.950.000</span> + IVA x AÑO</td>
  </tr>
  <tr class="price alt">
    <td class="first">Sin Diseño <br><small>(proporcionado por el cliente)</small></td>
    <td><span>$550.000</span> +<br> IVA x AÑO</td>
    <td><span>$850.000</span> +<br> IVA x AÑO</td>
    <td><span>$1.350.000</span> +<br> IVA x AÑO</td>
    <td><span>$1.850.000</span> +<br> IVA x AÑO</td>
  </tr>
</tbody></table>
