<ul class="plans headers">
  <h4>&nbsp;</h4>
  <li class="separator" style="border-top:1px solid transparent;"><h4><small>&nbsp;</small></h4></li>
</ul>
<ul class="plans">
  <h4 class="rockhopper"><span class="blue3Dbg">ROCKHOPPER</span></h4>
  <li class="separator"><h4><small>(Básico)</small></h4></li>
</ul>
<ul class="plans">
  <h4 class="gentoo"><span class="blue3Dbg">GENTOO</span></h4>
  <li class="separator"><h4><small>(Professional)</small></h4></li>
</ul>
<ul class="plans">
  <h4 class="king"><span class="blue3Dbg">KING</span></h4>
  <li class="separator"><h4><small>(Básico+Webmaster)</small></h4></li>
</ul>
<ul class="plans last">
  <h4 class="emperor"><span class="blue3Dbg">EMPEROR</span></h4>
  <li class="separator"><h4><small>(Professional+Webmaster)</small></h4></li>
</ul>
<div style="clear:both;"></div>


<table class="plans hosting"><tbody>
  <tr>
    <td class="first">Amacenamiento Página <br>Web / Base de Datos</td>
    <td>5GB</td>
    <td>10GB</td>
    <td>5GB</td>
    <td>10GB</td>
  </tr>
  <tr>
    <td class="first">Tráfico Página Web</td>
    <td colspan="4">Ilimitado</td>
  </tr>
  <tr>
    <td class="first">Administración de Dominio</td>
    <td colspan="4">1 Dominio</td>
  </tr>
  <tr>
    <td class="first"><abbr title="Service-Level Agreement">SLA</abbr> (Disponibilidad)</td>
    <td colspan="4">99.9%</td>
  </tr>
  <tr>
    <td class="first">Base de Datos</td>
    <td>2 Instancias</td>
    <td>5 Instancias</td>
    <td>2 Instancias</td>
    <td>5 Instancias</td>
  </tr>
  <tr>
    <td class="first">Motor de Bases de Datos</td>
    <td colspan="4">MySQL, PostgreSQL</td>
  </tr>
  <tr>
    <td class="first">Otros Almacenamientos</td>
    <td colspan="4">Disco Duro Cloud 7GB x Usuario</td>
  </tr>
  <tr>
    <td class="first">Compatibilidad con Lenguajes</td>
    <td colspan="4">PHP, Perl, Ruby on Rails</td>
  </tr>
  <tr>
    <td class="first">Compatibilidad con <abbr title="Content Management System">CMS</abbr> (Manejadores de Contenido)</td>
    <td colspan="4">Joomla, Wordpress, Drupal, Moodle, entre otros</td>
  </tr>
  <tr>
    <td class="first">Servicio Webmaster <%= link_to content_tag(:sup, "[1]"), "#foot1", :class=>"footnote", :id=>"footnote1" %></td>
    <td><span class="no">✗</span></td>
    <td><span class="no">✗</span></td>
    <td><span class="yes">✔</span> Básico</td>
    <td><span class="yes">✔</span> Completo</td>
  </tr>

  <tr style="display:block;padding:6px;"></tr>
  <tr style="display:none;"></tr>

  <tr>
    <td class="first">Correo Electrónico <%= link_to content_tag(:sup, "[2]"), "#foot2", :class=>"footnote", :id=>"footnote2" %></td>
    <td colspan="4">Hasta 50 Usuarios</td>
  </tr>
  <tr>
    <td class="first">Almacenamiento de Correo</td>
    <td colspan="4">10GB x Usuario</td>
  </tr>
  <tr>
    <td class="first">Protocolos</td>
    <td colspan="4"><abbr title="Internet Message Access Protocol">IMAP</abbr>, <abbr title="Post Office Protocol v3">POP3</abbr>, <abbr title="Exchange ActiveSync">EAS</abbr></td>
  </tr>
  <tr>
    <td class="first">Encriptación de Conexión</td>
    <td colspan="4"><abbr title="Secure Sockets Layer">SSL</abbr>, <abbr title="Transport Layer Security">TLS</abbr></td>
  </tr>
  <tr>
    <td class="first">Webmail</td>
    <td colspan="4"><span class="yes">✔</span></td>
  </tr>
  <tr>
    <td class="first">Detección de SPAM en Correo</td>
    <td colspan="4"><span class="yes">✔</span></td>
  </tr>

  <tr style="display:block;padding:6px;"></tr>
  <tr style="display:none;"></tr>

  <tr>
    <td class="first">Scripts Preinstalados</td>
    <td colspan="4">Softaculous</td>
  </tr>
  <tr>
    <td class="first">Acceso <abbr title="File Transfer Protocol">FTP</abbr></td>
    <td colspan="4"><span class="yes">✔</span></td>
  </tr>
  <tr>
    <td class="first">Prevención Malware</td>
    <td colspan="4"><span class="yes">✔</span></td>
  </tr>
  <tr>
    <td class="first">Registro de Errores</td>
    <td colspan="4"><span class="yes">✔</span></td>
  </tr>
  <tr>
    <td class="first">Administrador Archivos Web</td>
    <td colspan="4"><span class="yes">✔</span></td>
  </tr>
  <tr>
    <td class="first">Estadísticas</td>
    <td colspan="4"><span class="yes">✔</span></td>
  </tr>
  <tr>
    <td class="first">Backups Archivos / Base de Datos</td>
    <td colspan="4"><span class="yes">✔</span></td>
  </tr>
  <tr>
    <td class="first">Cron Jobs</td>
    <td colspan="4"><span class="yes">✔</span></td>
  </tr>
  <tr>
    <td class="first">Idiomas</td>
    <td colspan="4">Español, Inglés</td>
  </tr>

  <tr style="display:block;padding:6px;"></tr>
  <tr style="display:none;"></tr>

  <tr class="price alt">
    <td class="first">Servicio <u>sin</u> Dominio</td>
    <td><span>$119.000</span> +<br> IVA x AÑO</td>
    <td><span>$219.000</span> +<br> IVA x AÑO</td>
    <td><span>$469.000</span> +<br> IVA x AÑO</td>
    <td><span>$869.000</span> +<br> IVA x AÑO</td>
  </tr>
  <tr class="price">
    <td class="first">Con Dominio<br> Genérico (gTLD) <%= link_to content_tag(:sup, "[3]"), "#foot3", :class=>"footnote", :id=>"footnote3" %></td>
    <td><span>$149.000</span> +<br> IVA x AÑO</td>
    <td><span>$249.000</span> +<br> IVA x AÑO</td>
    <td><span>$499.000</span> +<br> IVA x AÑO</td>
    <td><span>$899.000</span> +<br> IVA x AÑO</td>
  </tr>
  <tr class="price alt">
    <td class="first">Con Dominio Colombiano (ccTLD) <%= link_to content_tag(:sup, "[3]"), "#foot3", :class=>"footnote", :id=>"footnote3" %></td>
    <td><span>$179.000</span> +<br> IVA x AÑO</td>
    <td><span>$279.000</span> +<br> IVA x AÑO</td>
    <td><span>$529.000</span> +<br> IVA x AÑO</td>
    <td><span>$629.000</span> +<br> IVA x AÑO</td>
  </tr>

</tbody></table>
