<ul class="plans dominios dominios1">
  <h4 class="blue3Dbg"><span>Tipo de Dominio</span></h4>
</ul>
<ul class="plans dominios dominios2">
  <h4 class="blue3Dbg"><span>Quien lo puede registrar</span></h4>
</ul>
<ul class="plans dominios dominios3">
  <h4 class="blue3Dbg"><span>Precio</span></h4>
</ul>
<ul class="plans dominios dominios4 last">
  <h4 class="blue3Dbg"><span>Documentación</span></h4>
</ul>
<div style="clear:both;"></div>

<table class="plans dominios"><tbody>
  <tr>
    <td class="dominios1">.gov.co</td>
    <td class="dominios2">Dependencias o instituciones gubernamentales Colombianas</td>
    <td class="dominios3 price">Gratis</td>
    <td class="dominios4"><strong style="display:inline-block;margin-bottom:5px;">1.</strong> Fotocopia del certificado del RUT<br> <strong>2.</strong> Decreto de creación o resolución de la entidad solicitante</td>
  </tr>

  <tr>
    <td class="dominios1">.edu.co (privadas)</td>
    <td class="dominios2">Instituciones del sector educativo Colombiano reconocidas por el Ministerio de Educación Nacional</td>
    <td class="dominios3 price"><span>$30.000</span> +<br> IVA/año</td>
    <td class="dominios4"><strong style="display:inline-block;margin-bottom:5px;">1.</strong> Fotocopia del certificado del RUT<br> <strong>2.</strong> Resolución o acto administrativo de reconocimiento del Ministerio de Educación Nacional</td>
  </tr>

  <tr>
    <td class="dominios1">.edu.co (públicas)</td>
    <td class="dominios2">Instituciones del sector educativo Colombiano reconocidas por el Ministerio de Educación Nacional</td>
    <td class="dominios3 price">Gratis</td>
    <td class="dominios4"><strong style="display:inline-block;margin-bottom:5px;">1.</strong> Fotocopia del certificado del RUT<br> <strong>2.</strong> Resolución o acto administrativo de reconocimiento del Ministerio de Educación Nacional</td>
  </tr>

  <tr>
    <td class="dominios1">.mil.co</td>
    <td class="dominios2">Dependencias o instituciones de las Fuerzas Armadas Colombianas</td>
    <td class="dominios3 price">Gratis</td>
    <td class="dominios4"><strong style="display:inline-block;margin-bottom:5px;">1.</strong> Fotocopia del certificado del RUT<br> <strong>2.</strong> Decreto de creación o resolución de la entidad solicitante</td>
  </tr>

  <tr>
    <td class="dominios1">.org.co</td>
    <td class="dominios2">Entidades o instituciones sin ánimo de lucro residentes en Colombia</td>
    <td class="dominios3 price"><span>$30.000</span> +<br> IVA/año</td>
    <td class="dominios4"><strong style="display:inline-block;margin-bottom:5px;">1.</strong> Fotocopia del certificado del RUT<br> <strong>2.</strong> Decreto de creación o resolución de la entidad solicitante</td>
  </tr>
</tbody></table>
