<div class="plansicons videos">
  <%= image_tag "icon_cast_control.png" %>
  <%= image_tag "icon_wowza.png" %>
</div>

<ul class="plans headers streaming">
  <h4>&nbsp;</h4>
  <li class="separator" style="border-top:1px solid transparent;border-bottom:1px solid transparent;"></li>
</ul>
<ul class="plans streaming">
  <h4 class="videoflux1 blue3Dbg"><span>VideoFlux 1</span></h4>
  <li class="separator" style="border-bottom:1px solid transparent;"></li>
</ul>
<ul class="plans streaming">
  <h4 class="videoflux2 blue3Dbg"><span>VideoFlux 2</span></h4>
  <li class="separator" style="border-bottom:1px solid transparent;"></li>
</ul>
<ul class="plans streaming last">
  <h4 class="videoflux3 blue3Dbg"><span>VideoFlux3</span></h4>
  <li class="separator" style="border-bottom:1px solid transparent;"></li>
</ul>
<div style="clear:both;"></div>

<table class="plans streaming video"><tbody>
  <tr>
    <td class="first">Almacenamiento de Video</td>
    <td>1GB</td>
    <td>5GB</td>
    <td>10GB</td>
  </tr>
  <tr>
    <td class="first">Televidentes Simultáneos</td>
    <td>100</td>
    <td>200</td>
    <td>400</td>
  </tr>
  <tr class="price alt">
    <td class="first">Precio x Mes*</td>
    <td>$200.000</td>
    <td>$300.000</td>
    <td>$400.000</td>
  </tr>
  <tr class="price alt">
    <td class="first">Precio x Semestre*</td>
    <td>$1.120.000</td>
    <td>$1.650.000</td>
    <td>$2.200.000</td>
  </tr>
  <tr class="price alt">
    <td class="first">Precio x Año*</td>
    <td>$2.000.000</td>
    <td>$3.000.000</td>
    <td>$3.750.000</td>
  </tr>
</tbody></table>
