<div class="plansicons">
  <%= image_tag "icon_centova.png" %>
  <%= image_tag "icon_icecast.png" %>
  <%= image_tag "icon_shoutcast.png" %>
</div>

<ul class="plans headers streaming">
  <h4>&nbsp;</h4>
  <li class="separator" style="border-top:1px solid transparent;border-bottom:1px solid transparent;"></li>
</ul>
<ul class="plans streaming">
  <h4 class="audioflux1 blue3Dbg"><span>AudioFlux 1</span></h4>
  <li class="separator" style="border-bottom:1px solid transparent;"></li>
</ul>
<ul class="plans streaming">
  <h4 class="audioflux2 blue3Dbg"><span>AudioFlux 2</span></h4>
  <li class="separator" style="border-bottom:1px solid transparent;"></li>
</ul>
<ul class="plans streaming last">
  <h4 class="audioflux3 blue3Dbg"><span>AudioFlux3</span></h4>
  <li class="separator" style="border-bottom:1px solid transparent;"></li>
</ul>
<div style="clear:both;"></div>

<table class="plans streaming audio"><tbody>
  <tr>
    <td class="first">Auto DJ</td>
    <td>1GB</td>
    <td>5GB</td>
    <td>10GB</td>
  </tr>
  <tr>
    <td class="first">Oyentes Simultáneos</td>
    <td colspan="3">400</td>
  </tr>
  <tr class="price alt">
    <td class="first">Precio x Mes*</td>
    <td>$50.000</td>
    <td>$90.000</td>
    <td>$160.000</td>
  </tr>
  <tr class="price alt">
    <td class="first">Precio x Semestre*</td>
    <td>$250.000</td>
    <td>$500.000</td>
    <td>$850.000</td>
  </tr>
  <tr class="price alt">
    <td class="first">Precio x Año*</td>
    <td>$500.000</td>
    <td>$900.000</td>
    <td>$1.500.000</td>
  </tr>
</tbody></table>
