<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  
    <h3>Nuevo mensaje en dataflux.com.co</h3>
    <hr />
    
    <p>Nombre: <strong><%= @nombre %></strong></p>
    <p>Email: <strong><%= @email %></strong></p>
    
    <p>Mensaje: <br >
    <strong><%= @msj %></strong>
    </p>
    
  </body>
</html>
