<div id="enlaces_content" class="section_content"><div class="wrapper">

  <br>
  <br>

  <h1 id="head"><span>Enlaces de Interés</span></h1>

  <div class="sectionbox facebook">
    <div class="textwrapper fat">
      <%= render :partial => "facebook_posts" %>
    </div>
    <%= link_to "&nbsp;".html_safe, "#head", :class=>"back2top_inline", :title=>"Volver al tope" %>
  </div>

</div></div>
