<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <h2 color="#8c8c8c">Nuevo Mensaje de Contacto en dataflux.com.co</h2>
    <p>Los siguientes datos han sido suministrados mediante el formulario de contacto ubicado en dataflux.com.co/contacto</p>
    <br>
    <p><strong>Nombre:</strong> <%= @nombre %></p>
    <p><strong>Email:</strong> <%= @email %></p>
    <p><strong>Mensaje:</strong></p>
    <p><%= @mensaje %></p>
    <br>
    <hr>
    <p><small style="color:#333333">Este mensaje ha sido autogenerado por la aplicación dataflux.com.co</small></p>

  </body>
</html>
