<div id="soporte-content" class="section_content"><div class="wrapper">

  <br>
  <br>

  <h1 id="head"><span>Soporte y Descargas</span></h1>

  <div class="sectionbox">
    <div class="textwrapper">
      <%= render :partial => "manuales" %>
    </div>
    <%= link_to "&nbsp;".html_safe, "#head", :class=>"back2top_inline", :title=>"Volver al tope" %>
  </div>

</div></div>
