/*
 *= require_self
 *= require_tree .
*/

$links:               #0c5eff;

html, body {
	height:             100%;
}
body {
  padding:            0;
  margin:             0;
  font-family:        arial;
  background:         black;
}
body a img {
  border:             none;
}
body a {
  color:              #ddd;
}
body a:hover {
  color:              $links;
}
body ul {
  margin:             0;
  padding:            0;
  list-style:         none;
}
#bodywrapper {
  margin:             0 auto;
  width:              720px;
  height:             1264px;
  position:           relative;

  background:         url("newstuff.png") no-repeat;
  text-align:         center;
}
.linker {
  position:           absolute;
}
.linker.facebook {
  left:               210px;
  top:                992px;
}
.linker.twitter {
  left:               283px;
  top:                992px;
}
.linker:hover {
  opacity:            0.8;
}




.modal_aviso {
  padding:            20px;
  width:              640px;
  background:         #0055a7;
}
.modal_aviso p {
  text-align:         center;
  color:              white;
  font-size:          22px;
}
