$links:               #0c5eff;

/* MAIN CONTAINER */
#maincontainer.contacto {
  background:         url("/assets/containerbg_contacto.jpg");
}
.contactoheader {
  margin-bottom:      20px !important;
}
.formcontainer {
  margin-bottom:      16px;
}
#formcontainer_msj {
  margin-bottom:      20px;
}
.formcontainer input, .formcontainer textarea {
  width:              500px;
  text-indent:        5px;
  font-size:          14px;
  letter-spacing:     1px;
  box-shadow:         0 0 10px black;
}
.formcontainer input {
  height:             25px;
}
.formcontainer textarea {
  height:             80px;
  padding-top:        5px;
}
.error input, .error textarea {
  border:             2px solid red;
  border-radius:      5px;
}
#contactsubmit {
  background:         url("/assets/button.png");
  box-shadow:         0 0 10px black, 0 0 10px black;
  border:             none;
  width:              137px;
  height:             42px;
  font-weight:        bold;
  border-radius:      5px;
}
#contactsubmit:hover {
  background:         url("/assets/button_hover.png");
  cursor:             pointer;
}
