<div id="footer">
  <span> <strong>DataFlux</strong> © <%= Date.today.year %> - Todos los derechos reservados.</span>
  <span> Barranquilla, Col. Cra 46 # 76—200 - info@dataflux.com.co </span>
</div>
